  <div class="KW_progressContainer">
    <div class="KW_progressBar">
    </div>
  </div>
  <div class="below_box"></div>
  <div class="above_box"></div>
  <div class="page">
  <app-options-menu></app-options-menu>
  
  <div id="luciferrk-page">
    <app-top-bar></app-top-bar>

    <section class="ftco-section">
      <div class="container mt-5">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span>What i like to do</span>
            <h2>My Hobbies</h2>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-image"></span></div>
                <div class="media-body">
                  <h3 class="heading">Photo Editing</h3>
                </div>
              </div>      
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-gamepad"></span></div>
                <div class="media-body">
                  <h3 class="heading">Chess</h3>
                  <h3 class="heading">Cricket</h3>
                </div>
              </div>      
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-road"></span></div>
                <div class="media-body">
                  <h3 class="heading">Travelling</h3>
                </div>
              </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-book"></span></div>
                <div class="media-body">
                  <h3 class="heading">Reading Novels (Rarely)</h3>
                </div>
              </div>      
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-keyboard"></span></div>
                <div class="media-body">
                  <h3 class="heading">Typing</h3>
                </div>
              </div>      
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-camera"></span></div>
                <div class="media-body">
                    <h3 class="heading">Photography</h3>
                </div>
              </div>    
            </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
        <div class="container mt-5">
            <div class="row no-gutters">
                <div class="text">
                  <h4 class="subheading">Photography / Photo Editing</h4>
                  <h2 class="heading"><a href="" style="cursor:text">A Website showcasing my Photography and Photoshop hobby</a></h2>
                  <p>I created a small website using wix to showcase my photography and photoshop skills. You can visit the site by click the below link.</p>
                  <p><a href="https://flueric.wixsite.com/pic-edits" target="_blank">View Site</a></p>
                </div>
            </div>
        </div>
    </section>
    
    <app-footer></app-footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

    </div>

  </div>