
  <div class="KW_progressContainer">
    <div class="KW_progressBar">
    </div>
  </div>
  <div class="below_box"></div>
  <div class="above_box"></div>
  <div class="page">
  <app-options-menu></app-options-menu>
  
  <div id="luciferrk-page">
    
    <app-top-bar></app-top-bar>
  
    <!-- typing intro -->

    <div class="js-fullheight">
      <div class="overlay"></div>
        <div class="container-intro">
          <div class="align-items-center text-center justify-content-center">
            <div class="col-md-12">
              <h1 class="intro-title mb-4">I&nbsp;&nbsp;am<label *ngIf="isMobile==false">&nbsp;&nbsp;</label><br *ngIf="isMobile">Likhith&nbsp;&nbsp;RK</h1>
              <p class="intro-subtitle"><span class="text-slider-items">Student,Web Developer,Web Designer,Frontend Developer,Graphic Designer</span><strong class="text-slider"></strong></p>
            </div>
          </div>
        </div>
    </div>

    <section class="ftco-section about-section">
      <div class="container">
        <div class="row d-flex" data-scrollax-parent="true">
          <div class="col-md-4 author-img" style="background-image: url('../../assets/images/author-1.jpg');" data-scrollax=" properties: { translateY: '-70%'}"></div>
          <div class="col-md-2"></div>
          <div class="col-md-6 wrap ftco-animate">
            <div class="about-desc">
              <h1 class="bold-text">About</h1>
              <div class="p-5">
                <h2 class="mb-5">Hi! I'm Likhith RK</h2>
                <p>A Final year student pursuing BE Computer Science, who likes to get experience by working on various things and share as much knowledge as possible.</p>
                <ul class="ftco-footer-social list-unstyled mt-4">
                  <li><a href="{{github}}"target="_blank"><span class="icon-github"></span></a></li>
                  <li><a href="{{twitter}}"target="_blank"><span class="icon-twitter"></span></a></li>
                  <li><a href="{{insta}}"target="_blank"><span class="icon-instagram"></span></a></li>
                  <li><a href="{{linkedin}}" target="_blank"><span class="icon-linkedin"></span></a></li>
                </ul>
                <h5>Contact me here!</h5>
                <p>Email: <a href={{mailMe}} target="_blank">likhithraj10@gmail.com</a></p>
                <p>Phone: <a href="tel://+918748914754">+91 8748 914754</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span>What i like</span>
            <h2>My Skills</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-3 py-4 d-block text-center">
              <div class="icon mb-3"><span class="icon-layers"></span></div>
              <div class="media-body">
                <h3 class="heading">Photoshop</h3>
                <h3 class="heading">Web Apps</h3>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-3 py-4 d-block text-center">
              <div class="icon mb-3"><span class="icon-gears"></span></div>
              <div class="media-body">
                <h3 class="heading">Problem solving</h3>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-3 py-4 d-block text-center">
              <div class="icon mb-3"><span class="icon-code"></span></div>
              <div class="media-body">
                <h3 class="heading">HTML/CSS</h3>
                <h3 class="heading">Python/C/Java</h3>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </section>
    
    <app-footer></app-footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

    </div>

  </div>